<div class="header"
    style=" border-top: 3px solid #ced4da;text-align: center;padding: 5px 0; background-color: aliceblue;">
    <h1 style="background-color: aliceblue;">Famous Book Store</h1>
</div>
<div class="body" style="padding:5px 30px;background-color: aliceblue;">
    <div style="background-color: aliceblue;">
        Dear <b style="background-color: aliceblue;">traveller,</b>
    </div>
    <div style="background-color: aliceblue;">
        Welcome to Famous Book Store.
        Your Email verification code is <b style="background-color: aliceblue;">"{{OTP}}"</b> .
        Enter this number in verification field on Famous Book Store user email verification page.
        Please do not share OTP with anyone.
    </div>
    <div style="background-color: aliceblue; padding-bottom:30px">
        Regards,
        Team Famous Book Store.
    </div>
</div>