@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&display=swap');

body {
    font-family: 'Cabin', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
select,
textarea {
    font-weight: 400 !important;
    font-size: 18px !important;
    color: rgba(0, 0, 0, 0.5) !important;
    line-height: 28px !important;
    background: #FFFFFF !important;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.06) !important;
    border-radius: 10px !important;
    border: 1px solid !important;
    padding: 15px 18px !important;
    width: 100% !important;
    margin-bottom: 15px !important;
}

textarea {
    resize: none;
}

label {
    font-weight: 400 !important;
    font-size: 24px !important;
    line-height: 34px !important;
    color: #004872 !important;
    margin-bottom: 10px !important;
}

button,
.book-details-cart-buy-btns a,
.book-add-to-cart a,
.procced a {
    background-color: #004872;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    padding: 13px 175px;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    font-weight: 500;
    border: 1px solid #004872;
}

.procced {
    margin-top: 40px;
    text-align: center;
}

.procced a,
.procced button {
    padding: 14px 95px;
}

.shipping-charge label {
    margin-top: 10px;
    font-size: 18px !important;
    line-height: 28px;
}

/* general CSS */

.custom-bg {
    background-color: #FAFAFA;
}

.weight-700 {
    font-weight: 700;
}

.weight-400 {
    font-weight: 400;
}

.weight-500 {
    font-weight: 500;
}

.font-24 {
    font-size: 24px;
    line-height: 34px;
}

.font-110 {
    font-size: 110px;
    line-height: 120px;
}

.font-18 {
    font-size: 18px;
    line-height: 28px;
}

.font-16 {
    font-size: 16px;
    line-height: 26px;
}

.font-14 {
    font-size: 14px;
    line-height: 24px;
}

.font-42 {
    font-size: 42px;
    line-height: 52px;
}

.font-32 {
    font-size: 32px;
    line-height: 42px;
}

.font-28 {
    font-size: 28px;
    line-height: 38px;
}

.font-20 {
    font-size: 20px;
    line-height: 30px;
}

.font-12 {
    font-size: 12px;
    line-height: 22px;
}

.color-black {
    color: #000;
}

.color-white {
    color: #fff;
}

.color-gray {
    color: rgba(0, 0, 0, 0.5);
}

.color-dark-gray {
    color: rgba(14, 14, 14, 0.7);
}

.color-red {
    color: rgba(255, 65, 65, 1);
}

.color-004872 {
    color: #004872;
}

.color-light-gray {
    color: rgba(255, 255, 255, 0.7);
}

.letter-space-3 {
    letter-spacing: 3px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.weight-600 {
    font-weight: 600;
}

.categoy-filter label {
    color: #151B39 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    margin-bottom: 0 !important;

}

.categoy-filter {
    display: block;
}

.mobile-category-filter {
    display: none;
}

.categoy-filter input {
    padding: initial;
}

.categoy-filter {
    width: 240px;
}

.book-data {
    width: calc(100% - 240px);
}

.mobile-filter {
    display: none;
}

/* General CSS End */

/* Book CSS */
.book-card {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    padding: 10px 0;
    margin: 10px 0px;
}

.history-book-slider .book-card,
.featured-book-slider .book-card {
    margin: 10px 20px;
}

.history-book-slider .book-img-dis-percentage {
    top: -25px;
}

.slick-arrow.slick-disabled {
    display: none !important;
}

.book-add-to-cart {
    margin: 15px auto auto;
    display: flex;
    justify-content: center;
}

.book-add-to-cart a {
    max-width: 245px;
    padding: 11px 64px;
}

#child-author {
    margin: 100px auto;
}

#book-categories {
    margin: 140px auto;
}

.slick-dots li.slick-active button::before {
    background: #004872;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    border-radius: 100%;
    width: 16px !important;
    height: 16px !important;
}

.slick-dots li button::before {
    background: rgba(0, 0, 0, 0.16);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    width: 16px !important;
    height: 16px !important;
    border-radius: 100%;
    font-size: 0 !important;
}

.slick-dots {
    bottom: -40px !important;
}

.bundle-deals-slider {
    margin: 0 -5px;
}

.bundle-deals-head {
    margin-bottom: 25px;
}

#bundle-deals {
    margin-bottom: 100px;
}

.coupon-wrapper-description {
    margin: 12px 0;
}

.coupon-wrapper-code {
    margin-top: 16px;
}

.slick-dots li.slick-active button {
    border-radius: 100%;
    box-shadow: none;
    width: 16px !important;
    height: 16px !important;
}

.slick-dots li button {
    width: 16px !important;
    height: 16px !important;
}

.book-categories-card {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.06);
    border-radius: 18px;
    margin: 10px 15px;
    padding: 24px;
}

.book-categories-shop span {
    padding-left: 8px;
    width: 16px;
}

.book-title {
    margin-top: 15px;
}

.book-img-dis-percentage {
    background: #FF4141;
    border-radius: 5px;
    color: #fff;
    padding: 0px 10px;
    top: 0;
    left: -55px;
    font-size: 10px;
    line-height: 20px;
    right: auto;
}

#featured-book .book-img-dis-percentage,
#featured-books .book-img-dis-percentage {
    top: -25px;
}

.add-to-wishlist-card,
.add-to-wishlist-card-none {
    position: absolute;
    top: 18px;
    right: 20px;
    left: auto;
    top: 5px;
    cursor: pointer;
}

.wish-head {
    margin-top: 80px;
    margin-bottom: 40px;
}

.book-img {
    width: 100px;
    max-width: 100%;
    margin: auto;
}

.book-other-details-left .book-other-details-span {
    margin: 2px 0;
}

.book-other-details-left .book-other-details-span span:nth-child(2),
.book-other-details-right .book-other-details-span span:nth-child(2) {
    margin-left: 5px;
}

.book-img img {
    width: 100%;
    height: auto;
    margin-top: 25px;
}

.book-details .book-img {
    width: 250px;
}

/* Book CSS End */
/* Account CSS */
.user-details-head {
    margin-bottom: 20px;
}

.user-details {
    max-width: 370px;
    width: 100%;
}

#logout .modal-body {
    width: 100%;
    margin: auto;
    padding: 111px 130px;
}

#logout .modal-content {
    border-radius: 20px;
}

#logout .logout-body {
    margin-bottom: 100px;
    text-align: center;

}

.logout-cancel-btn {
    border: 1.5px solid #004872;
    border-radius: 10px;
    padding: 15px 85px;
}

.logout-btn {
    background: #004872;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    padding: 15px 85px;
    border: 1px solid #004872;
}

#logout .modal-dialog {
    max-width: 840px;
}

.account-info-left-menu {
    max-width: 370px;
    width: 100%;
}

.account-info-left-menu ul li {
    margin: 25px 0;
}

.coupon-wrapper {
    margin-bottom: 60px;
    border-radius: 10px;
}

.coupon-wrapper-img img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#copyButton {
    cursor: pointer;
}

.account-info-left-menu ul li:first-child {
    margin-top: 20px;
}

.account-info-left-menu ul li:last-child {
    margin-bottom: 0;
}

.back-text-arrow-wrap {
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding-left: 40px;
}

/* Account CSS End */

/* About Us CSS */
.about-us-head-sub-title {
    max-width: 1040px;
    margin: 30px auto auto auto;
}

.about-us-img {
    margin-top: 60px;
    margin-bottom: 24px;
}

.about-us-text-head {
    margin-top: 60px;
    margin-bottom: 12px;
}

/* About CSS End */
/* Footer CSS */
.footer-margin {
    margin-top: 50px;
    display: flex;
}

.messages {
    position: fixed;
    top: auto;
    bottom: 20px;
    left: auto;
    margin: 0;
    padding: 0;
    height: auto;
}

.messages .alert {
    margin-bottom: 0;
}

footer {
    margin-top: 30px;
}

.footer-left-content {

    max-width: 425px;
    margin-bottom: 35px;
}

.footer-left-social-menu ul {
    display: flex;
}

.footer-right ul {
    margin-bottom: 0;
}

.footer-left-social-menu ul li:first-child {
    padding-left: 0;
}

.footer-logo {
    margin-bottom: 25px;
}

.footer-logo img,
.head-left img {
    width: 100px;
}

.footer-left-social-menu ul li {
    padding: 0 16px;
}

.footer-right .head {
    margin-bottom: 16px;
}

.footer-right {
    width: 58%;
    margin-left: 72px;
}

.footer-right li a {
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    line-height: 28px;
}

.footer-right li {
    padding: 5px 0;
}

.copyright {
    margin-top: 80px;
    background-color: #004872;
    padding: 19px 0;
}

.hamburger {
    cursor: pointer;
}

.hamburger div {
    border-radius: 35%;
    width: 19px;
    height: 4px;
    margin-bottom: 3px;
    background: #000;
}

.hamburger.open .bar1 {
    position: relative;
    top: 13px;
    transform: rotate(-45deg)
}

.hamburger div.bar3 {
    margin: 0;
}

.hamburger.open .bar3 {
    bottom: 5px;
    position: relative;
    transform: rotate(45deg)
}

.hamburger.open .bar2 {
    visibility: hidden
}

/* Footer CSS End */
/* Testimonials CSS */
.testimonials-slider-card {
    background-color: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 30px 25px;
    text-align: center;
}

.testimonials-slider-card-img img {
    width: 180px;
    border-radius: 100%;
    margin: auto;
    height: 180px;
}

.slick-initialized.slick-slider * {
    transition: all 0.4s ease-in-out;
}

.testimonials-slider-card.slick-slide {
    opacity: 0.7;
    transform: translate(0, 0) scale(0.89);
}

.testimonials-slider-card-desc {
    margin-top: 15px;
}

.testimonials-slider-card.slick-slide.slick-current.slick-center {
    opacity: 1;
    transform: translate(0, 0) scale(0.91);

}

.testimonials-slider-card.slick-slide.slick-current.slick-center .testimonials-slider-card-desc {
    font-size: 18px !important;
    line-height: 28px !important;
}

.testimonials-slider-card-img {
    margin-bottom: 12px;
}

#wp-link,
#featured-author {
    margin-top: 80px;
}

.testimonials-slider-card-rating img {
    margin-top: 20px !important;
    margin-bottom: 7px !important;
    text-align: center;
    margin: auto;
}

.testimonials-head {
    margin-bottom: 24px;
    margin-top: 100px;
}

.slick-next,
.slick-prev {
    background-color: #004872 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    width: 40px !important;
    height: 40px !important;
    border-radius: 100%;
    z-index: 9999;
    padding-left: 5px;
}

.slick-next::before {
    content: url(../img/right.png) !important;

}

.slick-prev::before {
    content: url(../img/left.png) !important;
}

.slick-prev {
    left: 0 !important;
}

.slick-next {
    right: 0 !important;
}

/* End Testimonials CSS */
/* Featured Author CSS */
.featured-author-head {
    margin-bottom: 30px;
}

.featured-author-card-img img {
    border-radius: 100%;
    width: 250px;
}

.featured-author-card-title {
    margin-top: 20px;
}

.featured-author-card.slick-slide {
    opacity: 0.6;
    transform: translate(0, 0) scale(0.6);
}

.featured-author-card.slick-slide.prevSlide,
.featured-author-card.slick-slide.nextSlide {
    opacity: 0.8;
    transform: translate(0, 0) scale(0.8);
}

/* .featured-author-card.slick-slide.prevSlide{
    padding-right: 15px;
}
.featured-author-card.slick-slide.nextSlide{padding-left: 15px;} */
.featured-author-card.slick-slide.slick-current.slick-active.slick-center {
    opacity: 1;
    transform: translate(0, 0) scale(1);
}

/* Featured Author CSS End */
/* Header CSS */
header {
    margin-bottom: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    margin-top: 25px;
}

.head-right-top-dropdown {
    margin-right: 40px;
}

.category-dropdown {
    background: #004872;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    color: #fff;
    padding: 12px 24px;
    cursor: pointer;
}

.category-name {
    margin-bottom: 20px;
}

/* 
.book-categories-slider,
.featured-book-slider {
    margin-left: 208px;
} */

.head-right {
    margin-left: 57px;
}

.search-box {
    width: 615px;
}

.head-right-top-find-store {
    margin-left: 50px;
}

.search-btn {
    background: #004872;
    border-radius: 0px 10px 10px 0px;
    padding: 9px 20px;
    margin: 7px 0;
}

.search-suggestion .single-suggestion,
.mobile-search-suggestion .single-suggestion {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
}

.search-suggestion, .mobile-search-suggestion {
    position: absolute;
    width: 100%;
    z-index: 99;
    background-color: white;
    max-height: 300px;
    overflow-x: auto;
}

.search-box {
    position: relative;
}

.mobile-search-box-form,
.mobile-search-suggestion {
    margin: 0 10px;
}
.mobile-search-suggestion{
    max-height: 300px;
    overflow-x: auto;
}
.head-right-bottom {
    margin: 25px 0 15px;
}

.search-box input {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    padding: 10px !important;
    font-size: 14px !important;
    line-height: 24px !important;
    margin: 7px 0 !important;
}

.head-right-bottom-main-list li {
    padding: 0 60px;
}

.head-right-bottom-cart-bag-profile li.cart-link:nth-child(2) {
    padding: 0 30px;
}

/* Header CSS End */

/* Cart CSS */
.cart-book-list>div {
    margin-bottom: 40px;
}

.line-through {
    text-decoration-line: line-through;
}

.cart-book-list-loop-details {
    width: calc(100% - 170px);
}

.delete-qty-select select {
    display: block !important;
    width: 100% !important;
    padding: .375rem 2.25rem .375rem .75rem !important;
    -moz-padding-start: calc(0.75rem - 3px) !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #F1387E !important;
    background-color: #fff !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    background-position: right .75rem center !important;
    background-size: 16px 12px !important;
    border: 1px solid #F1387E !important;
    border-radius: 8px !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    box-shadow: none !important;
}

.cart-book-list-loop-wrap {
    display: flex;
    justify-content: left;
    align-items: start;
    padding: 10px;
    margin-bottom: 40px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
}

.account-info-right-details #id_address {
    height: auto !important;
}

.account-info-right-details {
    margin-left: 60px;
    width: 100%;
}

.cart-book-list-loop-img {
    margin-right: 25px;
    width: 145px;
}

/* Cart CSS End*/
/* Contact Us */
.contact-information {
    background: #004872;
    border-radius: 10px;
    padding: 70px 80px;
}

.contact-information-sub-title {
    margin-top: 4px;
}

.contact-information-text {
    margin-left: 21px;
    margin-bottom: 35px;
}

.contact-information-shop-time {
    margin-top: 24px;
}

.contact-information-wrap {
    margin-top: 41px;
}

.contact-information {
    max-width: 600px;
    margin-left: auto;
}

#contactUsForm p {
    margin-bottom: 0;
}

.contact-us-head {
    margin-bottom: 60px;
}

.contact-us-head-sub-title {
    margin-top: 12px;
}

#id_address {
    height: 150px;
}

#id_description {
    height: 280px;
}

/* Contact Us End */
/* 404 CSS */
.not-found-btn a {
    background-color: #004872;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 14px 154px;
    margin-top: 80px;
    border: 1px solid #004872;
    display: block;
}

.not-found-btn {
    max-width: 540px;
    margin: auto;
}

.not-fond-title {
    margin-top: 118px;
}

.not-found-sub-title {
    margin-top: 40px;
}

/* 404 CSS End */

/* Login & Signup CSS */
.login-wrapper,
.sign-wrapper {
    max-width: 1245px;
    margin: auto;
}

.login-outer,
.sign-outer {
    margin-bottom: 70px;
}

.login-wrapper-content,
.sign-wrapper-content {
    margin-left: 250px;
}

.login-wrapper-content-head-sub,
.sign-wrapper-content-head-sub {
    margin: 12px 0 54px 0;
}

.send-otp {
    background: #004872;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    padding: 14px 195px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

/* Login 7 Sign CSS End */

/* Book Details CSS */
.book-details-mrp-value {
    text-decoration-line: line-through;
}

.book-details-cart-buy-btns {
    margin-top: 30px;
}

.book-other-details-right {
    margin-left: 330px;
}

.book-details-details {
    margin-left: 135px;
    width: calc(100% - 535px);
}

.book-details-cart-buy-btns a {
    max-width: 280px;
    padding: 14px 80px;
}

/* .book-details-cart-buy-btns a:last-child {
    margin-left: 80px;
} */

.book-details-shipping-charge,
.book-details-shipment-details,
.book-details-date-and-back-type {
    margin-top: 12px;
}

.book-details-author,
.book-details-pulisher,
.book-details-price,
.book-details-mrp,
.book-details-availability,
.book-details-about-author,
.book-other-details-wrapper,
.book-details-related-categories {
    margin-top: 10px;
}

.book-details-img {
    width: 400px;
}

.book-details-discount-percentage {
    position: absolute;
    padding: 4px 10px;
    color: white;
    background-color: #FF4141;
    border-radius: 6px;
    right: -45px;
}

.book-details-about-book {
    margin-top: 60px;
}

.book-details-about-author-content,
.book-details-about-book-content {
    padding-top: 15px;
}

.book-other-details-wrapper-head {
    padding-bottom: 15px;
}

/* Book Details CSS End */
.cart-books-total-promo {
    width: 330px;
}

.cart-book-list {
    width: calc(100% - 370px);
}

.amount-payable-mrp,
.amount-payable-discount,
.amount-payable-total-saving,
.amount-payable-total {
    margin: 8px 0;
}

/* Inventory Page */
.inventory-data-wrapper-loop-description * {
    margin: 0;
    padding: 0;
}

.inventory-data-wrapper-loop div {
    margin: 0 10px;
}

.inventory-data-wrapper-loop-book-image {
    width: 5%;
    word-break: break-word;
}

.inventory-data-wrapper-loop-book-author,
.inventory-data-wrapper-loop .inventory-data-wrapper-loop-title {
    width: 10%;
    word-break: break-word;
}

.inventory-data-wrapper-loop-description,
.inventory-data-wrapper-loop-book-url {
    width: 20%;
    word-break: break-word;
}

.inventory-data-wrapper-loop div:first-child {
    margin-left: 0;
}

.inventory-data-wrapper-loop div:last-child {
    margin-right: 0;
}

/* Book Creation */

#manualBook p {
    width: 50%;
}

.book-categories-img {
    max-width: 150px;
    margin: auto;
}

/* End Book Creation */
.coupon-code-btn {
    color: #FF4141 !important;
    font-size: 18px !important;
    line-height: 28px !important;
    padding: 0 !important;
    margin-left: 28px !important;
    background-color: white !important;
    border: none !important;
    box-shadow: none !important;
}

.promocode input {
    border-radius: 10px !important;
    background: #FFF !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.03) !important;
    color: #3D3D3D !important;
    font-size: 18px !important;
    line-height: 28px !important;
    padding: 15px 11px !important;
    margin-bottom: 0 !important;
}

.promocode div {
    margin: 0 !important;
}

.promocode {
    margin-bottom: 30px !important;
}

.promocode form {
    margin-top: 15px;
}

.amount-payable {
    margin-top: 20px;
}

/* Element Hover */
.not-found-btn a:hover {
    background-color: #fff;
    color: #004872;
    border-color: #004872;
}

#cateogory:hover {
    color: #fff;
}

button:hover,
.logout-btn:hover,
.book-details-cart-buy-btns a:hover,
.book-add-to-cart a:hover {
    border-color: #004872;
    color: #004872;
    background-color: #fff;
}
.search-btn:hover{
    background-color: black;
}
.logout-cancel-btn:hover {
    border-color: white;
    background-color: #004872;
    color: #fff;
}

.messages button:hover {
    opacity: 1;
    background-color: initial;
}


/* Element Hover End */
.mobile-menu,
.mobile-search-box {
    display: none;
}

.mobile-search-box button {
    margin: 0;
}

.mobile-search-box .search-box {
    margin: 0 !important;
}

.mobile-search-box input {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.coupon-wrapper-img img {
    width: 100%;
}

.desktop-left-menu {
    display: block;
}

.mobile-left-menu {
    display: none;
}

.delivery-addres-loop-wrap-details {
    margin-bottom: 40px;
    max-width: 300px;
    margin-left: 35px;
}

.delivery-addres-loop-wrap-edit,
.add-address-img {
    margin-right: 40px;
}
.book-other-details{
    margin-top: 50px;
}
.first-promo-desktop {
    display: block;
}
.banner-promo-desktop{
    display: block !important;
    width: 100%;
}
.banner-promo-mobile{
    display: none !important;
    width: 100%;
}
.first-promo-mobile {
    display: none;
}
.delete-qty-icon{
    text-align: right;
}
.book-title, .book-author{
    word-break: break-word
}
/* Media Queries */
@media screen and (max-width: 1210px) {

    .head-right {
        margin-left: 20px;
    }
}

@media screen and (max-width: 1200px) {

    .login-wrapper-content,
    .sign-wrapper-content {
        margin-left: 100px;
    }
}

@media screen and (max-width: 1190px) {
    .head-right-top-find-store {
        margin-left: 20px;
    }
    .head-right-bottom-main-list li{
        padding: 0 45px;
    }
    .book-details-details {
        margin-left: 35px;
        width: calc(100% - 435px);
    }

    .head-right-top-dropdown {
        margin-right: 20px;
    }

    .search-box {
        width: 550px;
    }
}

@media screen and (max-width: 1070px) {

    .search-box {
        width: 450px;
    }
}

@media screen and (max-width: 1024px) {
    .head-right {
        display: none;
    }
    .cart-book-list, .cart-books-total-promo{
        width: 100%;
    }
    .container-cart {
        flex-direction: column;
    }
    .book-details-img{
        width: 200px;
    }
    #child-author{
        margin: 50px auto;
    }
    .featured-book-see-all{
        font-size: 18px;
        line-height: 28px;
    }
    .mobile-lists{
        position: absolute;
        top: 70px;
        background: white;
        width: 100%;
        border: 1px solid;
        padding: 10px;
        z-index: 9999;

    }
    .book-other-details-right{
        margin-left: 150px;
    }
    .search-btn{
        padding: 8px 10px;
    }
    .mobile-search-box .search-box{
        padding: 5px 10px !important;
    }
    .book-details-details{
        margin-left: 15px;
        width: calc(100% - 215px);
    }
    .book-details-cart-buy-btns a{
        padding: 10px 40px;
    }
    /* .book-details-cart-buy-btns a:last-child{
        margin-left: 40px;
    } */
    label {
        font-size: 18px !important;
        line-height: 28px !important;
        margin-bottom: 10px !important;
    }

    .save-address,
    .update-profile {
        padding: 10px 100px;
    }

    .mobile-menu {
        display: flex;
        justify-content: end;
        width: 100%;
        align-items: center;
    }
   .mobile-search-box{
        display: block;
    }
    .mobile-bag {
        padding: 0 16px;
    }

    .mobile-search img {
        width: 25px;
    }

    .login-wrapper-content,
    .sign-wrapper-content {
        margin-left: 0;
    }

    .contact-btn-wrap button {
        width: 100%;
        margin-bottom: 30px;
    }

    .contact-information {
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width: 899px) {

    .sign-wrapper-img,
    .login-wrapper-img {
        text-align: center;
    }

    .delivery-addres-loop-wrap {
        display: block !important;
    }

    .delivery-addres-loop-wrap-details {
        margin-bottom: 10px;
    }

    .delivery-addres-loop-wrap {
        margin-bottom: 40px;
    }

    .sign-outer,
    .login-outer {
        display: block !important;
    }

    .footer-content-all {
        width: 100%;
        display: block !important;
        font-size: 12px;
        line-height: 22px;
    }

    .footer-left-content {
        width: 100%;
        margin-bottom: 25px;
        max-width: 100%;
    }

    .footer-right {
        display: block !important;
        width: 100%;
        margin-left: 0;
    }

    .footer-right ul {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-right ul li {
        padding: 5px 10px 15px;
    }

    .footer-right .head {
        margin-bottom: 0;
    }

    .footer-left-social-menu {
        margin-top: 25px;
    }

    .footer-right-company,
    .footer-right-policy,
    .footer-right-help {
        margin-top: 15px;
    }

    .copyright {
        margin-top: 15px;
    }

    #logout .modal-body {
        padding: 30px;
    }

    #logout .logout-body {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 40px;
    }

    .logout-cancel-btn,
    .logout-btn {
        padding: 10px 45px;
    }
}

@media screen and (max-width: 767px) {
    .sign-wrapper-img {
        text-align: center;
    }
    .mobile-lists{
        top: 45px;
    }
    .featured-author-card-img img{
        margin: auto;
    }
    .book-details-img{
        width: 150px;
    }
    
    .book-other-details-right{
        margin-left: 50px;
    }
    .book-other-details{
        margin-top: 25px;
    }
    .book-details-details{
        margin-left: 15px;
        width: calc(100% - 165px);
    }
    .category-wrap {
        flex-direction: column;
        clear: both;
    }
    .book-details-about-book{
        margin-top: 30px;
    }
    .categoy-filter {
        display: none;
        position: absolute;
        right: 0;
        background-color: white;
        z-index: 99;
        padding: 10px;
        border: 1px solid black;
        border-radius: 5px;
    }

    .mobile-category-filter {
        display: block;
        text-align: right;
        border: 1px solid black;
        border-radius: 5px;
        margin-bottom: 10px;
        display: inline-block;
        padding: 10px;
        float: right;
        cursor: pointer;
    }

    .delivery-addres-loop-wrap {
        display: block !important;
    }

    .delivery-addres-loop-wrap-details {
        margin-bottom: 10px;
    }

    .delivery-addres-loop-wrap {
        margin-bottom: 40px;
    }

    .desktop-left-menu {
        display: none;
    }

    .account-info-left-menu {
        max-width: inherit;
    }

    .account-info-left-menu ul li,
    .account-info-left-menu ul li:first-child {
        margin: 0;
    }

    .mobile-left-menu {
        display: block;
    }

    .account-info-right-details {
        margin-left: 0;
    }

    .desktop-filter {
        display: none;
    }

    .mobile-filter {
        display: block;
    }

    .book-data {
        width: 100%;
    }

    .footer-logo img,
    .head-left img {
        width: 50px;
    }

    .featured-author-card.slick-slide.slick-current.slick-active.slick-center,
    .featured-author-card.slick-slide,
    .featured-author-card.slick-slide.prevSlide,
    .featured-author-card.slick-slide.nextSlide {
        transform: none;
        opacity: 1;
    }

    .featured-author-card-title {
        font-size: 14px;
        line-height: 24px;
    }

    .featured-author-card-img img {
        width: auto;
    }

    .featured-author-card-title {
        margin-top: 10px;
    }

    .contact-information {
        padding: 35px 40px;
    }

    .contact-information-text {
        font-size: 16px !important;
        line-height: 26px !important;
        margin-left: 15px;
        margin-bottom: 15px;
    }

    .contact-us-head {
        margin-bottom: 30px;
    }

    .sign-outer {
        display: block !important;
        margin-bottom: 20px;
    }

    .font-32 {
        font-size: 24px;
        line-height: 34px;
    }

    .login-wrapper-content-head-sub,
    .sign-wrapper-content-head-sub {
        margin: 5px 0 10px 0;
    }

    input,
    select,
    textarea {
        padding: 10px 13px;
        margin-bottom: 20px;
    }

    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="password"],
    select,
    textarea {
        padding: 10px 15px !important;
    }

    .font-24 {
        font-size: 18px;
        line-height: 28px;
    }

    button,.book-details-cart-buy-btns a{
        padding: 10px 45px;
    }
  
    footer {
        margin-top: 15px;
    }
    .footer-margin,
    .about-us-text-head,
    .about-us-img {
        margin-top: 25px;
    }

    .font-18 {
        font-size: 16px;
        line-height: 26px;
    }

    #book-categories {
        margin: 100px auto 50px auto
    }
}

@media screen and (max-width: 599px) {
    #logout .modal-body {
        padding: 20px;
    }
    .first-promo-desktop{
        display: none;
    }
    .first-promo-mobile{
        display: block;
    }
    .banner-promo-desktop{
        display: none !important;
    }
    .banner-promo-mobile{
        display: block !important;
    }
    .book-other-details-right{
        margin-left: 0px;
    }
    .book-other-details-wrapper{
        flex-direction: column;
    }
    .book-details{
        flex-direction: column;
    }
    .cart-book-list-loop-wrap {

        display: block;
    }
    .book-details-img{
        margin: auto;
    }
    .book-details-details{
        width: 100%;
        margin-left: 0;
    }
    .book-details-author, .book-details-pulisher, .book-details-price, .book-details-mrp, .book-details-availability, .book-details-about-author, .book-other-details-wrapper, .book-details-related-categories{
        margin-top: 5px;
    }
    .book-details-cart-buy-btns a{
        padding: 7px 25px;
    }
    /* .book-details-cart-buy-btns a:last-child{
        margin-left: 15px;
    } */
    .book-details-cart-buy-btns{
        margin-top: 25px;
    }
    .cart-book-list-loop-img {
        margin: auto;
    }

    .cart-book-list-loop-details {
        width: 100%;
        padding-top: 10px;
    }

    .wish-head {
        margin-top: 40px;
    }

    #logout .logout-body {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 30px;
    }

    .logout-cancel-btn,
    .logout-btn {
        padding: 5px 25px;
    }

    .book-categories-img,
    .book-categories-shop {
        font-size: 10px;
        line-height: 20px;
    }

    .book-categories-card {
        margin: 5px;
    }

    .book-categories-shop span img {
        width: 8px;
    }

    .book-categories-title {
        font-size: 10px;
        line-height: 20px;
    }
}

@media screen and (max-width: 500px) {
    .res-class {
        flex-direction: column-reverse;
    }

    .person-data-img img {
        width: 150px;
    }

    .user-details {
        text-align: center;
    }

    .user-details-head {
        margin-bottom: 5px;
    }

    .save-address,
    .update-profile {
        padding: 10px 50px;
    }
}

/* Media Queries End */