{% extends 'base.html' %}
{% block title %}Upload Bulk ISBN Sheet{% endblock title %}
{% load crispy_forms_tags static %}
{% block breadcrumbs %}
    <li class="breadcrumb-item "><a class="color-black" href="{% url 'book:home' %}">Home</a></li>
    <li class="breadcrumb-item color-004872 font-18" aria-current="page">Upload ISBN Sheet Books</li>
{% endblock breadcrumbs %}
{% block content %}
    <div class="container">
        <div class="inventory-head-dropdown mb-3 text-end">
            <div class="demo-file">
                <a href="{% static 'files/isbn.xlsx' %}" download>Refrence File link</a>
            </div>
            <div class="dropdown">
                <a href="http://" class="dropdown-toggle account" data-bs-toggle="dropdown" aria-expanded="false">
                    Create
                </a>
                <ul class="dropdown-menu" aria-labelledby="account">
                  <li><a class="dropdown-item" href="{% url 'book:findBookSingleISBN' %}">Single ISBN</a></li>
                  <li><a class="dropdown-item" href="{% url 'book:bulkISBNUpload' %}">Bulk ISBN</a></li>
                  {% comment %} <li><a class="dropdown-item" href="{% url 'book:manualBookCreate' %}">Manual Entry</a></li> {% endcomment %}
                  <li><a class="dropdown-item" href="{% url 'book:bulkSheetUpload' %}">Import Sheet</a></li>
                </ul>
            </div>
        </div>
        <form method="POST" id="manualBook" enctype="multipart/form-data">
            {% csrf_token %}
            {{form | crispy}}
            <div class="check-btn text-right mt-4">
                <button class="btn btn-success" type="submit">Save</button>
            </div>
        </form>
        {% if passedISBN %}
            <div>Passed ISBN, Total = {{passedISBN | length}}</div>
            <div>
                {% for isbn in passedISBN %}
                    <span>{{isbn}}, </span>
                {% endfor %}
            </div>
            <hr>
        {% endif %}
        {% if failedISBN %}
            <div>Failed ISBN Total = {{failedISBN | length}}</div>
            <div>
                {% for isbn in failedISBN %}
                    <span>{{isbn}}, </span>
                {% endfor %}
            </div>
        
        {% endif %}
    </div>
{% endblock content %}