{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="book-details d-flex justify-content-between">
            <div class="book-details-img position-relative">
                <div class="book-details-discount-percentage font-14 weight-500">
                    40% OFF
                </div>
                <div class="book-img m-auto">
                    <img src="" class="" title="" alt="">
                </div>
            </div>
            <div class="book-details-details">
                <div class="book-details-title font-32 color-004872 weight-700">
                    Black Holes: The Reith Lectures
                </div>
                <div class="book-details-date-and-back-type font-24 weight-500">
                    (Paperback) | Released: 05 May 2016
                </div>
                <div class="book-details-author font-24 weight-500">
                    By: Stephen Hawking (Author) , Stephen (University of Cambridge) Hawking (Author) | 
                </div>
                <div class="book-details-pulisher font-24 weight-500">
                    Publisher: Transworld Publishers Ltd
                </div>
                <div class="book-details-price">
                    <span class="book-details-best-price color-dark-gray">
                        Best Price* 
                        <span class="book-details-price color-red font-32 weight-500">
                            ₹ 85.00
                        </span>
                    </span>
                </div>
                <div class="book-details-mrp font-24 weight-500 color-dark-gray">
                    MRP <span class="book-details-mrp-value">
                        ₹ 100.00
                    </span>
                </div>
                <div class="book-details-availability color-red weight-500 font-32">
                    Available
                </div>
                <div class="book-details-shipment-details">
                    Ships within 2-4 Business 
                </div>
                <div class="book-details-shipping-charge">
                    ₹39 shipping in India per item and low cost Worldwide.
                </div>
                <div class="book-details-cart-buy-btns">
                    <a href="#" class="d-inline-block">Add to Cart</a>
                    <a href="#" class="d-inline-block">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="book-details-about-book">
            <div class="book-details-about-book-head color-004872 font-28 weight-600">
                About the Book
            </div>
            <div class="book-details-about-book-content">
                “It is said that fact is sometimes stranger than fiction, and nowhere is that more true than in the case of black holes. Black holes are stranger than anything dreamed up by science fiction writers.”In 2016 Professor Stephen Hawking delivered the BBC Reith Lectures on a subject that has fascinated him for decades – black holes.In these flagship lectures the legendary physicist argues that if we could only understand black holes and how they challenge the very nature of space and time, we could unlock the secrets of the universe.
            </div>
        </div>
        <div class="book-details-about-author">
            <div class="book-details-about-author-head color-004872 font-28 weight-600">
                About the Author
            </div>
            <div class="book-details-about-author-content">
                STEPHEN HAWKING is regarded as one of the most brilliant theoretical physicists since Einstein. He held the position of Lucasian Professor of Mathematics at the University of Cambridge for thirty years and is the author of A Brief History of Time which was an international bestseller. His other books for the general reader include A Briefer History of Time, the essay collection Black Holes and Baby Universe and The Universe in a Nutshell.
            </div>
        </div>
        <div class="book-other-details">
            <div class="book-other-details-head">
            </div>
            <div class="book-other-details-wrapper">
                <div class="book-other-details-wrapper-head color-004872 font-28 weight-600">
                    Product Details
                </div>
                <div class="book-other-details-left">
                    <div class="book-other-details-span">
                        <span class="weight-500 font-20 color-black">ISBN-13:</span><span>9780857503572</span>
                    </div>
                    <div class="book-other-details-span">
                        <span class="weight-500 font-20 color-black">Publisher: </span><span>Transworld Publishers Ltd</span>
                    </div>
                    <div class="book-other-details-span">
                        <span class="weight-500 font-20 color-black">Binding:</span><span>Paperback</span>
                    </div>
                    <div class="book-other-details-span">
                        <span class="weight-500 font-20 color-black">No of Pages:</span><span> 64</span>
                    </div>
                    <div class="book-other-details-span">
                        <span class="weight-500 font-20 color-black">Spine Width:</span><span> 11 mm</span>
                    </div>
                    <div class="book-other-details-span">
                        <span class="weight-500 font-20 color-black">Width:</span><span>160 mm</span>
                    </div>
                </div>
                <div class="book-other-details-right">
                    <div class="book-other-details-span">
                        <span class="weight-500 font-20 color-black"></span><span></span>
                    </div>
                    <div class="book-other-details-span">
                        <span class="weight-500 font-20 color-black"></span><span></span>
                    </div>
                    <div class="book-other-details-span">
                        <span class="weight-500 font-20 color-black"></span><span></span>
                    </div>
                    <div class="book-other-details-span">
                        <span class="weight-500 font-20 color-black"></span><span></span>
                    </div>
                    <div class="book-other-details-span">
                        <span class="weight-500 font-20 color-black"></span><span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="book-details-related-categories">
            <div class="book-details-related-categories-head color-004872 font-32 weight-600">
                Related Categories
            </div>
            <span>
            General
            Arts & Photography > Film, tv & radio > Films, cinema > Documentary films
            Biographies & Memoirs > Biography: general > Biography: arts & entertainment
            Science & Mathematics > Astronomy, space & time > Theoretical & mathematical astronomy
            Science & Mathematics > Astronomy, space & time > Galaxies & stars
            </span>
        </div>
    </div>
{% endblock content %}