{% extends './base.html' %}
{% load static %}
{% block breadcrumbs %}
    <li class="breadcrumb-item "><a class="color-black" href="{% url 'book:home' %}">Home</a></li>
    <li class="breadcrumb-item color-004872 font-18" aria-current="page">All Offers</li>
{% endblock breadcrumbs %}
{% block content %}
<div class="container">
    <div class="row">
        {% if offers %}
            {% for offer in offers %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="coupon-wrapper">
                        <div class="coupon-wrapper-img">
                            <img src="{{offer.coupon_image.url}}" class="img-fluid">
                        </div>
                        <div class="coupon-wrapper-code font-18 weight-400 color-black d-flex justify-content-between">
                            <span>
                                {{offer.coupon_code}}
                            </span>
                            <span data-clipboard-text="{{offer.coupon_code}}" id="copyButton" class="color-red font-12 weight-700">
                                Copy Code
                            </span>
                        </div>
                        <div class="coupon-wrapper-description font-12 weight-400">
                            {{offer.details}}
                        </div>
                        <div class="coupon-wrapper-valid font-18 weight-400 color-004872">
                            VALID TILL {{offer.expiry_time}}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            No offers found
        {% endif %}
    </div>
</div>
{% endblock content %}
{% block js %}
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/offers.js' %}"></script>
{% endblock js %}