{% extends 'base.html' %}
{% block breadcrumbs %}
    <li class="breadcrumb-item "><a class="color-black" href="{% url 'book:home' %}">Home</a></li>
    <li class="breadcrumb-item color-004872 font-18" aria-current="page">Overview</li>
{% endblock breadcrumbs %}
{% block title %}Cart Overview{% endblock title %}
{% load static crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="d-flex">
            {% if cart_items %}
                {% if request.user.is_authenticated %}
                    <div class="cart-book-list">
                        <div class="cart-book-list-head weight-600 font-24 color-004872">
                            Cart Products
                        </div>
                        {% for item in cart_items %}
                            <div class="cart-book-list-loop">
                                <div class="cart-book-list-loop-wrap">
                                    <div class="cart-book-list-loop-img">
                                        <img src="{% if item.book.bookImage %}{{ item.book.bookImage.url }} {% else %}{% static 'img/placeholder.png' %}{% endif %}" title="{{item.book.title}}" class="img-fluid">
                                    </div>
                                    <div class="cart-book-list-loop-details">
                                        <div class="cart-book-list-loop-title weight-700 font-24 color-004872 d-flex justify-content-between">
                                        <div>   {{item.book.title}}</div>
                                            <div class="delete-qty-icon">
                                                <a href="{% url 'cart:remove_cart_item' item.id %}">
                                                    <img src="{% static 'img/delete.png' %}" title="delete" class="img-fluid">
                                                </a>
                                            </div>
                                        
                                        </div>
                                        <div class="pt-1 cart-book-list-loop-date-type weight-500 font-16 ">
                                            ({{item.book.get_bookBinding_display}}) | Released: {{item.book.publishedDate}}
                                        </div>
                                        <div class="pt-1 cart-book-list-loop-author weight-500 font-16 ">
                                            By: {{item.book.author | truncatechars:"30"}}
                                        </div>
                                        <div class="pt-1 cart-book-list-loop-publisher weight-500 font-16 ">
                                            Publisher: {{item.book.publisher}}
                                        </div>
                                    
                                        <div class="pt-1 cart-book-list-loop-sp-mrp weight-500 font-16 d-flex">
                                            <div class="cart-book-list-loop-mrp pe-2 {% if item.book.discountPrice %}line-through{% endif %}">
                                                MRP ₹ {{item.book.price}}
                                            </div>
                                            {% if item.book.discountPrice %}
                                                <div class="cart-book-list-loop-sp weight-500 font-16 ">
                                                    Best Price*
                                                    <span class="color-red">
                                                        ₹ {{item.book.discountPrice}}
                                                    </span>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="pt-1 cart-book-list-loop-delivery weight-500 font-16 color-black">
                                            Delivery between APRIL 11-APRIL 12
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="cart-books-total-promo ms-4">
                        <div class="color-004872 font-24 weight-500">
                            Amount Payable
                        </div>
                        <div class="amount-payable">
                            <div class="amount-payable-mrp d-flex justify-content-between">
                                <div class="amount-payable-mrp-text">
                                    MRP Total
                                </div>
                                <div class="amount-payable-mrp-total">
                                    ₹ {{amountPayable.mrpTotal}}
                                </div>
                            </div>
                            <div class="amount-payable-discount d-flex justify-content-between">
                                <div class="amount-payable-discount-text">
                                    Discount Amount-   
                                </div>
                                <div class="amount-payable-discount-total">
                                    ₹ {{amountPayable.totalDiscount}}
                                </div>
                            </div>
                            {% if amountPayable.couponDiscount %}
                            
                                <div class="amount-payable-shiping d-flex justify-content-between">
                                    <div class="amount-payable-shiping-text">
                                    Coupon Discount
                                    </div>
                                    <div class="amount-payable-shiping-total">
                                        ₹ {{amountPayable.couponDiscount}}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="amount-payable-total-saving d-flex justify-content-between">
                                <div class="amount-payable-total-saving-text weight-500 font-18 color-black">
                                    Total Savings
                                </div>
                                <div class="amount-payable-total-saving-total weight-500 font-18 color-black">
                                    ₹ {{amountPayable.totalSaving}}
                                </div>
                            </div>
                            
                            {% if not pickUp == "self" %}
                                <div class="shipping-charge">
                                    {{shippingChargesForm | crispy}}
                                </div>
                                <div class="charge"></div>
                            {% endif %}
                            {% if not shippingChargesForm.charges.value == "enquire" %}
                                <div class="color-red">Final Shipping Amount {{amountPayable.shippingAmount}}</div>
                                {% if not amountPayable.shippingAmount %}
                                    <div class="color-red">Free Shipping Available</div>
                                {% endif %}
                            {% endif %}
                            <div class="amount-payable-total d-flex justify-content-between">
                                <div class="amount-payable-total-text weight-500 font-18 color-black">
                                    Total Payable (COD)
                                </div>
                                <div class="amount-payable-total-total color-red weight-500 font-18">
                                    ₹ {{amountPayable.totalPayable}}
                                </div>
                            </div>
                                
                            
                        </div>
                        {% if shippingChargesForm.charges.value == "enquire" %}
                                For International Shiiping please contact us via contact us form.
                        {% else %}
                            <small>All Orders will be cash on delivery for now</small>
                            <div class="procced">
                                <form method="POST">
                                    {% csrf_token %}
                                    <button name="COD" type="submit">Place Order</button>
                                </form>
                                <div class="font-20 mt-2 mb-2">OR</div>
                                <form method="POST">
                                    {% csrf_token %}
                                    <button name="UPI" type="submit">Pay with UPI</button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% else %}
                No book in cart
            {% endif %}
        </div>
    </div>
{% endblock content %}
{% block js %}
    <script src="{% static 'js/overview.js' %}"></script>
{% endblock js %}