{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="container-cart d-flex justify-content-between">
            <div class="cart-book-list">
                <div class="cart-book-list-head weight-600 font-24 color-004872">
                    Delivery Address
                </div>
                <a class="w-100 d-block weight-500 font-18 color-red">
                    Add New Address
                </a>
                <div class="address-list">
                    {% if addressList %}
                    {% for address in addressList %}
                    {% if forloop.counter == 1 %}
                        <div class="delivery-addres-loop-wrap d-flex justify-content-start">
                            <input class="form-check-input" type="radio" name="address" id="address{{forloop.counter}}" checked>
                            
                            <label class="form-check-label" for="address{{forloop.counter}}">
                                <div class="delivery-addres-loop-wrap-details">
                                    <div class="delivery-addres-loop-wrap-details-name">
                                        {{address.name}}
                                    </div>
                                    <div class="delivery-addres-loop-wrap-details-address">
                                        {{address.adddress}}, {{address.city}}, {{address.state}}, {{address.landmark}}, {{address.pinCode}}, 
                                        {{address.contactNumber}}
                                    </div>
                                </div>
                                <div class="delivery-addres-loop-wrap-edit-delete">
                                    <a href="{% url 'user:deliveryAddressEdit' address.id %}" class="delivery-addres-loop-wrap-edit">
                                        <img src="{% static 'img/edit.png' %}" alt="Edit" srcset="">
                                    </a>
                                    <a href="{% url 'user:deliveryAddressDelete' address.id %}" class="delivery-addres-loop-wrap-delete">
                                        <img src="{% static 'img/delete.png' %}" alt="Delete" srcset="">
                                    </a>
                                </div>
                            </label>
                        </div>
                        {% else %}
                        <div class="delivery-addres-loop-wrap d-flex justify-content-start">
                            <input class="form-check-input" type="radio" name="address" id="address{{forloop.counter}}">
                            
                            <label class="form-check-label" for="address{{forloop.counter}}">
                                <div class="delivery-addres-loop-wrap-details">
                                    <div class="delivery-addres-loop-wrap-details-name">
                                        {{address.name}}
                                    </div>
                                    <div class="delivery-addres-loop-wrap-details-address">
                                        {{address.adddress}}, {{address.city}}, {{address.state}}, {{address.landmark}}, {{address.pinCode}}, 
                                        {{address.contactNumber}}
                                    </div>
                                </div>
                                <div class="delivery-addres-loop-wrap-edit-delete">
                                    <a href="{% url 'user:deliveryAddressEdit' address.id %}" class="delivery-addres-loop-wrap-edit">
                                        <img src="{% static 'img/edit.png' %}" alt="Edit" srcset="">
                                    </a>
                                    <a href="{% url 'user:deliveryAddressDelete' address.id %}" class="delivery-addres-loop-wrap-delete">
                                        <img src="{% static 'img/delete.png' %}" alt="Delete" srcset="">
                                    </a>
                                </div>
                            </label>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </div>
            </div>
            <div class="cart-books-total-promo">
                <div class="promocode color-004872 font-24 weight-500">
                    Promocode
                </div>
                <div class="promocode color-004872 font-24 weight-500">
                    Amount Payable
                </div>
                <div class="amount-payable">
                    <div class="amount-payable-mrp d-flex justify-content-between">
                        <div class="amount-payable-mrp-text">
                            MRP Total
                        </div>
                        <div class="amount-payable-mrp-total">
                            ₹ {{amountPayable.mrpTotal}}
                        </div>
                    </div>
                    <div class="amount-payable-discount d-flex justify-content-between">
                        <div class="amount-payable-discount-text">
                            Additional Discount-   
                        </div>
                        <div class="amount-payable-discount-total">
                            ₹ {{amountPayable.discount}}
                        </div>
                    </div>
                    <div class="amount-payable-shiping d-flex justify-content-between">
                        <div class="amount-payable-shiping-text">
                            Shipping/Delivery Charges
                        </div>
                        <div class="amount-payable-shiping-total">
                            ₹ 0.00
                        </div>
                    </div>
                    <div class="amount-payable-total-saving d-flex justify-content-between">
                        <div class="amount-payable-total-saving-text weight-500 font-18 color-black">
                            Total Savings
                        </div>
                        <div class="amount-payable-total-saving-total weight-500 font-18 color-black">
                            ₹ {{amountPayable.discount}}
                        </div>
                    </div>
                    <div class="amount-payable-total d-flex justify-content-between">
                        <div class="amount-payable-total-text weight-500 font-18 color-black">
                            Total Payable
                        </div>
                        <div class="amount-payable-total-total color-red weight-500 font-18">
                            ₹ {{amountPayable.totalPayable}}
                        </div>
                    </div>
                </div>
                <div class="procced">
                    <a href="}}">Procced</a>
                </div>
            </div>
        </div>    
    </div>
{% endblock content %}
{% block js %}
    {% comment %} <script src="{% static 'js/cart.js' %}"></script> {% endcomment %}
{% endblock js %}