{% extends 'base.html' %}
{% block breadcrumbs %}
    <li class="breadcrumb-item "><a class="color-black" href="{% url 'book:home' %}">Home</a></li>
    <li class="breadcrumb-item color-004872 font-18" aria-current="page">Select Address</li>
{% endblock breadcrumbs %}
{% load static crispy_forms_tags %}
{% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <div class="container-cart d-flex justify-content-between">
                <div class="cart-book-list ">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="cart-book-list-head weight-600 font-24 color-004872">
                            Delivery Address
                        </div>
                        <a href="{% url 'user:deliveryAddress' %}" class="weight-500 font-18 color-red">
                            Add New Address
                        </a>
                    </div>
                    <div class="address-list">
                        
                            {{deliveryAddressForm | crispy}}
                        {% if addressList %}
                            <div class="addressList">
                                {% for address in addressList %}
                                    {% if forloop.counter == 1 %}
                                        <div class="delivery-addres-loop-wrap d-flex justify-content-start">
                                            <input class="form-check-input" type="radio" name="address" value="{{address.id}}" id="address{{forloop.counter}}" checked>
                                            
                                            <label class="form-check-label" for="address{{forloop.counter}}">
                                                <div class="delivery-addres-loop-wrap-details">
                                                    <div class="delivery-addres-loop-wrap-details-name color-black font-16">
                                                        {{address.name}}
                                                    </div>
                                                    <div class="delivery-addres-loop-wrap-details-address color-black font-16">
                                                        {{address.address}}, {{address.city}}, {{address.state}}, {{address.landmark}}, {{address.pinCode}}, 
                                                        {{address.contactNumber}}
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                    {% else %}
                                        <div class="delivery-addres-loop-wrap d-flex justify-content-start">
                                            <input class="form-check-input" type="radio" name="address" value="{{address.id}}" id="address{{forloop.counter}}">
                                            
                                            <label class="form-check-label" for="address{{forloop.counter}}">
                                                <div class="delivery-addres-loop-wrap-details">
                                                    <div class="delivery-addres-loop-wrap-details-name color-black font-16">
                                                        {{address.name}}
                                                    </div>
                                                    <div class="delivery-addres-loop-wrap-details-address color-black font-16">
                                                        {{address.address}}, {{address.city}}, {{address.state}}, {{address.landmark}}, {{address.pinCode}}, 
                                                        {{address.contactNumber}}
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="cart-books-total-promo">
                    <div class="color-004872 font-24 weight-500">
                        Amount Payable
                    </div>
                    <div class="amount-payable">
                        <div class="amount-payable-mrp d-flex justify-content-between">
                            <div class="amount-payable-mrp-text">
                                MRP Total
                            </div>
                            <div class="amount-payable-mrp-total">
                                ₹ {{amountPayable.mrpTotal}}
                            </div>
                        </div>
                        <div class="amount-payable-discount d-flex justify-content-between">
                            <div class="amount-payable-discount-text">
                                Additional Discount-   
                            </div>
                            <div class="amount-payable-discount-total">
                                ₹ {{amountPayable.totalDiscount}}
                            </div>
                        </div>
                        <div class="amount-payable-total-saving d-flex justify-content-between">
                            <div class="amount-payable-total-saving-text weight-500 font-18 color-black">
                                Total Savings
                            </div>
                            <div class="amount-payable-total-saving-total weight-500 font-18 color-black">
                                ₹ {{amountPayable.totalDiscount}}
                            </div>
                        </div>
                        {% if amountPayable.couponDiscount %}
                        
                            <div class="amount-payable-shiping d-flex justify-content-between">
                                <div class="amount-payable-shiping-text">
                                Coupon Discount
                                </div>
                                <div class="amount-payable-shiping-total">
                                    ₹ {{amountPayable.couponDiscount}}
                                </div>
                            </div>
                        {% endif %}
                        <div class="amount-payable-total d-flex justify-content-between">
                            <div class="amount-payable-total-text weight-500 font-18 color-black">
                                Total Payable
                            </div>
                            <div class="amount-payable-total-total color-red weight-500 font-18">
                                ₹ {{amountPayable.totalPayable}}
                            </div>
                        </div>
                    </div>
                    <div class="procced">
                        <button type="submit">Procced</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
{% block js %}
    <script src="{% static 'js/adddres-select.js' %}"></script>
{% endblock js %}