{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block breadcrumbs %}
    <li class="breadcrumb-item "><a class="color-black" href="{% url 'book:home' %}">Home</a></li>
    <li class="breadcrumb-item color-004872 font-18" aria-current="page">About Us</li>
{% endblock breadcrumbs %}
{% block content %}

    <div class="container">
        <div class="about-us-head">
            <div class="text-center about-us-head-title weight-700 font-32 color-004872">
                About Famous Book Shop
            </div>
            <div class="about-us-head-sub-title font-24 color-gray text-center">
               <div class="color-black"><span class="color-red"> Famous Book Shop </span>is India’s Largest and Cheapest Online Bookstore offering 40+ Million selections.</div>“I declare after all there is no enjoyment like reading!”- Jane Austen, Pride and Prejudice.
            </div>
            <div class="about-us-img">
                <img class="img-fluid" src="{% static 'img/about.jpg' %}">
            </div>
            <div class="about-us-text text-right">
                <p>Famous Book Shop is one of India’s very affordable handed down bookstore that offers 50K+ books in more than 9 categories. We provide shipping all over India and Overseas.</p>
                <div class="about-us-text-head weight-700 font-32 color-004872">
                    Dear Bookworms,
                </div>
                <div class="about-us-text text-right">
                    Famous Book Shop is one of the prominent and known handed down and affordable book shop in Mumbai. We have large categories of books for all age groups including fiction, non-fiction, children, education, reference, classics, Manga anime, comic and kids books and many more. We have been running a physical bookstore since 1993 and now also upgraded to the online platform. We have been doing online business since 2017 and delivering books all over the world and now have our own website to bring an interface where you can browse, view, select, order and share your feedbacks. We provide home delivery and try to give best to our customers and are  always keen and open to answer queries and suggestions from customers to better our services; we have multiple methods via which customers can contact us through e-mail, whatsapp or call during working hours. Humble and seeking your support to keep the love of books alive. <br>Together Forever.
                </div>
            </div>
        </div>
    </div>
    <div class="footer-margin"></div>
{% endblock content %}