{% extends 'base.html' %}
{% block breadcrumbs %}
    <li class="breadcrumb-item "><a class="color-black" href="{% url 'book:home' %}">Home</a></li>
    <li class="breadcrumb-item color-004872 font-18" aria-current="page">Account Info</li>
{% endblock breadcrumbs %}
{% block title %}Account Info{% endblock title %}
{% load static crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="d-flex mb-3 align-items-center res-class">
        <div class="user-details">
            <div class="user-details-head font-32 color-004872 weight-700">
                Your Account
            </div>
            <div class="person-details">
                <div class="name font-24 weight-400 color-black">
                    {% if request.user.get_full_name %}
                        {{request.user.get_full_name | capfirst}}
                    {% else %}
                        Your name
                    {% endif %}
                </div>
                <div class="email font-18 weight-400 color-black">
                    {% if request.user.email %}
                        {{request.user.email}}
                    {% else %}
                        Your email
                    {% endif %}
                </div>
                <div class="phone font-18 weight-400 color-black">
                    {% if request.contactNumber %}
                        {{request.contactNumber}}
                    {% else %}
                        Your contact
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="person-data-img text-center w-100">
            <img src="{% static '/img/data.png' %}">
        </div>
    </div>
    <div class="account-info-left-menu mobile-left-menu text-end">
        <div class="dropdown">
            <a href="http://" class="dropdown-toggle account" data-bs-toggle="dropdown" aria-expanded="false">
                Account Information
            </a>
            <ul class="dropdown-menu" aria-labelledby="account">
                <li><a class="dropdown-item" href="{% url 'user:accountInfo' %}">Account Information</a></li>
                <li><a class="dropdown-item" href="{% url 'wishlist:home' %}"> My Wishlist</a></li>
                <li><a class="dropdown-item" href="{% url 'order:myOrders' %}">My Orders</a></li>
                <li><a class="dropdown-item" href="{% url 'book:offers' %}">Offers</a></li>
                <li><a class="dropdown-item" href="{% url 'user:userContact' %}">Contact us</a></li>

                <li><a class="dropdown-item" href="{% url 'user:deliveryAddress' %}">Delivery Addresses</a></li>

                <li><a class="dropdown-item" href="{% url 'user:editPassword' %}">Password Change</a></li>
                <li><a class="dropdown-item" href="#">Help?</a></li>
            </ul>
        </div>
    </div>
    <div class="account-info-details d-flex">
        <div class="account-info-left-menu desktop-left-menu">
            <ul>
                <li>
                    <a href="{% url 'user:accountInfo' %}" class="d-flex color-dark-gray justify-content-between align-items-center">
                        <span class="link-icon">
                            <img src="{% static 'img/acc-info.svg' %}">
                        </span>
                        <span class="back-text-arrow-wrap">
                            <span class="link-text font-24 weight-400">
                                Account Information
                            </span>
                            <span class="link-arrow">
                                <img src="{% static 'img/arrow_back_ios.svg' %}">
                            </span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'wishlist:home' %}" class="d-flex color-dark-gray justify-content-between align-items-center">
                        <span class="link-icon">
                            <img src="{% static 'img/favorite.svg' %}">
                        </span>
                        <span class="back-text-arrow-wrap">
                            <span class="link-text font-24 weight-400">
                                My Wishlist
                            </span>
                            <span class="link-arrow">
                                <img src="{% static 'img/arrow_back_ios.svg' %}">
                            </span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'order:myOrders' %}" class="d-flex color-dark-gray justify-content-between align-items-center">
                        <span class="link-icon">
                            <img src="{% static 'img/shopping_bag.svg' %}">
                        </span>
                        <span class="back-text-arrow-wrap">
                            <span class="link-text font-24 weight-400">
                                My Orders
                            </span>
                            <span class="link-arrow">
                                <img src="{% static 'img/arrow_back_ios.svg' %}">
                            </span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'book:offers' %}" class="d-flex color-dark-gray justify-content-between align-items-center">
                        <span class="link-icon">
                            <img src="{% static 'img/offers.svg' %}">
                        </span>
                        <span class="back-text-arrow-wrap">
                            <span class="link-text font-24 weight-400">
                                Offers
                            </span>
                            <span class="link-arrow">
                                <img src="{% static 'img/arrow_back_ios.svg' %}">
                            </span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'user:deliveryAddress' %}" class="d-flex color-dark-gray justify-content-between align-items-center">
                        <span class="link-icon">
                            <img src="{% static 'img/local_shipping.svg' %}">
                        </span>
                        <span class="back-text-arrow-wrap">
                            <span class="link-text font-24 weight-400">
                                Delivery Addresses
                            </span>
                            <span class="link-arrow">
                                <img src="{% static 'img/arrow_back_ios.svg' %}">
                            </span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'user:userContact' %}" class="d-flex color-004872 justify-content-between align-items-center">
                        <span class="link-icon">
                            <img src="{% static 'img/call.svg' %}">
                        </span>
                        <span class="back-text-arrow-wrap">
                            <span class="link-text font-24 weight-400">
                                Contact us
                            </span>
                            <span class="link-arrow">
                                <img src="{% static 'img/arrow_back_ios.svg' %}">
                            </span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'user:editPassword' %}" class="d-flex color-dark-gray justify-content-between align-items-center">
                        <span class="link-icon">
                            <img src="{% static 'img/thumb_up.svg' %}">
                        </span>
                        <span class="back-text-arrow-wrap">
                            <span class="link-text font-24 weight-400">
                                Password Change
                            </span>
                            <span class="link-arrow">
                                <img src="{% static 'img/arrow_back_ios.svg' %}">
                            </span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#logout" class="d-flex color-dark-gray justify-content-between align-items-center">
                        <span class="link-icon">
                            <img src="{% static 'img/support.svg' %}">
                        </span>
                        <span class="back-text-arrow-wrap">
                            <span class="link-text font-24 weight-400">
                                Help?
                            </span>
                            <span class="link-arrow">
                                <img src="{% static 'img/arrow_back_ios.svg' %}">
                            </span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#logout" class="d-flex color-dark-gray justify-content-between align-items-center">
                        <span class="link-icon">
                            <img src="{% static 'img/power_settings_new.svg' %}">
                        </span>
                        <span class="back-text-arrow-wrap">
                            <span class="link-text font-24 weight-400">
                                Logout
                            </span>
                            <span class="link-arrow">
                                <img src="{% static 'img/arrow_back_ios.svg' %}">
                            </span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="account-info-right-details">
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    {{form | crispy}}
                </div>
                <div class="text-center">
                    <button type="submit" class="update-profile">Update Profile</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="footer-margin"></div>
{% endblock content %}