{% extends 'base.html' %}
{% block bodyclass %}password-reset-complete{% endblock bodyclass %}
{% block bodyid %}password-reset-complete{% endblock bodyid %}
{% block title %}Password reset complete{% endblock title %}
{% block content %}
    <div class="container mt-3">
        <div class="jumbotron">
            <h1 class="weight-bold">You have reset your password.</h1>
            <p class="lead">click on below button to log in again.</p>
            <hr class="my-2">
            <p class="lead">
                <a class="btn btn-outline-primary btn-lg" href="{% url 'user:loginView' %}" role="button">Log In</a>
            </p>
        </div>
    </div>
{% endblock %}